@import "../../../assets/mixins";
.app {}

.app-sider {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #364150;
    transition: none;
    .ant-menu-item {
        margin-top: 0;
        margin-bottom: 0;
    }
    .ant-menu-dark .ant-menu-item-selected {
        background-color: #32c5d2;
    }
    .ant-menu{
        transition: none;
    }
}

.app-logo {
    height: 32px;
    line-height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.app-header {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    z-index: 9;
    padding: 0;
    background: #2b3643;
    color: #ffffff;
}

.app-trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
    &:hover {
        color: #1890ff;
    }
}

.app-header-right {
    float: right;
    margin-right: 12px;
}

.app-action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    height: 100%;
    color: inherit;
    >i {
        font-size: 18px;
        vertical-align: middle;
    }
}

.app-account {
    .app-avatar {
        border: 1px solid #d9d9d9;
        margin-right: 6px;
    }
}

.app-account-menu {
    .anticon {
        margin-right: 6px;
    }
}

.app-content-layout {
    padding-top: 64px;
    padding-left: 200px;
}

.app-content {
    padding: 20px;
    background: #ffffff;
    min-height: 700px;
}

.app-content-layout-collapsed {
    padding-left: 80px;
    .app-header {
        left: 80px;
    }
}