.chart-panel {
    .ant-card-head {
        min-height: auto;
    }
    .ant-card-head {
        padding: 0 16px;
        border-color: #eeeeee;
    }
    .ant-card-head-title {
        padding: 8px 0;
        color: rgba(0, 0, 0, 0.65);
        small {
            margin-left: 6px;
            font-weight: normal;
            font-size: 12px;
        }
    }
    .ant-card-extra {
        padding: 8px 0;
        cursor: pointer;
    }
    .ant-card-body {
        padding: 8px;
        height: 240px;
    }
    .ant-card-bordered {
        border-color: #eeeeee;
    }
}

body {
    .chart-preview-modal {
        top: 0;
        height: 100%;
        padding: 10px;
        .ant-modal-content {
            height: 100%;
            padding-bottom: 60px;
        }
        .ant-modal-body {
            height: 100%;
        }
    }
}